@import '../../_variables.scss';

.online {
  width: 15px;
  height: 15px;
  background-color: greenyellow;
  border-radius: 50%;
}

.appusers {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  
  h2 {
    margin: 20px 0px 20px 0px;
  }

  article {
    display: flex;
    align-items: center;
    position: relative;
    img {
      @include avatar-properties;
    }
    span {
      position: absolute;
      left: -30px;
    }
  }
}