@import '../../_variables.scss';

.online {
  width: 15px;
  height: 15px;
  background-color: greenyellow;
  border-radius: 50%;
}

.appusers {
  width: 200px;
  display: flex;
  flex-direction: column;
  

  article {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 50px;
    img {
      @include avatar-properties;
    }
    span {
      position: absolute;
      left: -30px;
    }
  }
}