@import '../../variables';

.project {
  display: flex;
  align-items: center;

  &__summary {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: $subtitle-size;
    }

    p{
      font-size: $text-size;
    }
    &--assignedTo {
      display: flex;

      article {
      display: flex; 
      flex-direction: column;
      align-items: center;

        width: 80px;
        img {
          @include avatar-properties;
        }
      }
    }
  }
}
