@import '../../variables';

aside {
  width: 200px;

  img {
    @include avatar-properties;
  }

  nav {
    display: flex;
    flex-direction: column;

    .active {
      background-color: pink;
    }
  }
}