

aside {
  width: 200px;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  nav {
    display: flex;
    flex-direction: column;

    .active {
      background-color: pink;
    }
  }
}