@import "../../variables";


.responsive-openPanel {
  display: none;
}

aside {
  padding: 30px 0px 20px 0px;
  width: 100%;
  min-height: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  border-right: 3px solid $primary-color;


  h3 {
    margin-top: 10px;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    @include avatar-properties;
    width: 90px;
    height: 90px;
  }

  h4 {
    display: flex;
    user-select: none;
    font-size: $text-size;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    align-items: center;
    position: relative;
    span {
      margin-left: 10px;
      font-size: 1.4rem;
      display: flex;
      transition: 300ms;
    }
    .closed {
      transform: rotate(-0.25turn);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $text-size;
    margin: 20px 0px 20px 0px;

    a {
      width: 100%;
      text-align: center;
    }
    width: 100%;

    .active {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
  }
}

@media only screen and (max-width: 560px) {
  .responsive-openPanel {
    font-size: 2rem;
    display: flex;
    align-items: center;
    width: 80px;
    height: 60px;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 100px;
    padding: 5px;

    background-color: $secondary-color;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 5px;
    }
  }
  aside {
    display: none;
  }
}
