$primary-color: #754A05;
$secondary-color: #F7B854;
$tertiary-color: #F59B0A;


$title-size: 2.4rem;
$subtitle-size: 2rem;
$text-size: 1.4rem;


@mixin avatar-properties() {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid $primary-color;
} 